<main>
  <section class="menu">
    <div class="content-img-menu">
      <img class="imgMenu" src="../assets/img/graficasMenu.png" alt="" srcset="">
    </div>
    <ul>
      <li *ngFor="let elementoMenu of elementosMenu">
        <ng-container *ngIf="elementoMenu['tget'] === undefined else agregaTarget">
          <a href="{{elementoMenu['url']}}">
            {{elementoMenu['etiqueta'] ? elementoMenu['etiqueta'] : menuDesconocido}}
          </a>
        </ng-container>
        <ng-template #agregaTarget>
          <a href="{{elementoMenu['url']}}" target="{{elementoMenu['tget']}}">
            {{elementoMenu['etiqueta'] ? elementoMenu['etiqueta'] : menuDesconocido}}
          </a>
        </ng-template>
      </li>
    </ul>
  </section>

  <section class="content">
    <div class="titulo">
      <h1>Bienvenid@s!!!</h1>
      <p>Al Mundo de las Gráficas con Chart.js y Angular</p>
    </div>

    <div class="barra-navegacion">dfghfdh</div>

    <!-- <ng-container *ngIf="sonGraficasNormalesVisibles else graficasResponsivas">
      <app-graficas-normales></app-graficas-normales>
    </ng-container>

    <ng-template #graficasResponsivas>
      <app-graficas-responsivas></app-graficas-responsivas>
    </ng-template> -->
  </section>
</main>

<footer>
  footer
  Iconos diseñados por <a href="https://www.freepik.com" title="Freepik">Freepik
  </a> from <a href="https://www.flaticon.es/" title="Flaticon">www.flaticon.es</a>
  <p class="etiqueta-footer-copy">Copyright © Juan Camilo González Duque 2023</p>
</footer>