main {
    display: flex;
    background-color: brown;
}

a {
    font-size: large;
    color: black;
    text-decoration: none;
}

.menu {
    width: 15vw;
    height: auto;
    background-color: aliceblue;
}

.menu > .content-img-menu {
    text-align: center;
}

.imgMenu {
    margin-top: 10%;
    width: 50%;
    height: 80px;
}

.content {
    width: 85vw;
    height: auto;
    background-color: orange;
}

.titulo > h1 {
    margin: 0%;
    margin-top: 2%;
    padding: 0%;
    text-align: center;
    font-size: xx-large;
}

.titulo > p {
    margin: 0%;
    margin-bottom: 3%;
    padding: 0%;
    text-align: center;
    font-size: x-large;
}

.lista-desordenada {
    display: flex;
    list-style: none;
    padding: 0%;
    justify-content: center;
}

.lista-desordenada > li {
    display: inline-flex;
    width: 50%;
    height: 50px;
}

.lista-desordenada > li:hover {
    background-color: aliceblue;
}

.lista-desordenada > li > button {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    background: none;
}