<main>
  <section class="menu">
    <div class="content-img-menu">
      <img class="imgMenu" src="../assets/img/graficasMenu.png" alt="" srcset="">
    </div>
    <ul>
      <li *ngFor="let elementoMenu of elementosMenu">
        <ng-container *ngIf="elementoMenu['tget'] === undefined else agregaTarget">
          <a href="{{elementoMenu['url']}}">Hole</a>
        </ng-container>
        <ng-template #agregaTarget>
          <a href="{{elementoMenu['url']}}" target="{{elementoMenu['tget']}}">Oleeee</a>
        </ng-template>
      </li>
    </ul>
  </section>

  <section class="content">
    <div class="titulo">
      <h1>Bienvenid@s!!!</h1>
      <p>Al Mundo de las Gráficas con Chart.js y Angular</p>
    </div>

    <ng-container *ngIf="sonGraficasNormalesVisibles else graficasResponsivas">
      <app-graficas-normales></app-graficas-normales>
    </ng-container>

    <ng-template #graficasResponsivas>
      <app-graficas-responsivas></app-graficas-responsivas>
    </ng-template>
  </section>
</main>

<footer>
  footer
  <a href="https://www.flaticon.es/iconos-gratis/reporte" title="reporte iconos">Reporte iconos creados por Freepik - Flaticon</a>
</footer>