<div id="graficaBarras" class="grafica">
    <canvas id="myChart"></canvas>
  </div>
  {{dataAleatoria | slice:0:3}}
  <br>
  {{dataAleatoria | slice:3}}
  <br>
  {{dataAleatoria | json}}
  <br>
  <button (click)="valoresAleatorios()">Click</button>
<!-- grafica estatica y dinamica -->
  <hr class="separador">

  <div id="graficaBarras2" class="grafica">
    <canvas id="myChart2"></canvas>
  </div>
  {{dataAleatoria | slice:0:3}}
  <br>
  {{dataAleatoria | slice:3}}
  <br>
  {{dataAleatoria | json}}
  <br>
  <button (click)="valoresAleatorios()">Click</button>

  <hr class="separador">