.grafica {
    margin: auto;
    /* width: 630px; */
    width: 50%;
    height: 300px;
    box-sizing: border-box;
    display: inline-block;
    background-color: aliceblue;
}

.separador {
    border: 2px dashed aliceblue;
}