.au {
    width: 50%;
    height: 300px;
    background-color: blue;
    box-sizing: border-box;
    border: 3px solid white;
    display: inline-block;
}

.grafica {
    margin: auto;
    /* margin: 0% 3% 0% 3%; */
    /* padding: 0% 3% 0% 3%; */
    width: 50%;
    height: auto;
    /* height: 300px; */
    /* box-sizing: border-box; */
    /* display: inline-block; */
    background-color: aliceblue;
}

.separador {
    border: 2px dashed aliceblue;
}